{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Descargas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ruta</th>
                <td>
                <a href={{url('segurex_homepage')}}{{ entity.ruta }}>
                   Descargar
                </a>
            </td>
            </tr>
            <tr>
                <th>Contador</th>
                <td>{{ entity.contador }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('descargas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('descargas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
