{% extends "::base.html.twig" %}
{% block title %}{% endblock %}
 
{% block body %}
   <ul class="onepage-pagination">
   	<li>
   		<a data-index="1" href="#/#1" class="active"></a></li><li>
   		<a data-index="2" href="#/#2" class=""></a></li><li>
   		<a data-index="3" href="#/#3"></a></li><li>
   		<a data-index="4" href="#/#4"></a></li><li>
   		<a data-index="5" href="#/#5"></a></li></ul>
		<div class="wrapper">
			<div id="fix-nav">
				
				<ul id="menu-list" style="position: absolute; top: 196px;">
					<li><a class="active" data-index="1" href="#"><span class="icon icon-home"></span></a></li>
					<li><a class="" data-index="2" href="#/about"><span class="icon icon-shield"></span></a></li>
					<li><a class="" data-index="4" href="#/job"><span class="icon icon-file-text2"></span></a></li>
					<li><a class="" data-index="5" href="#/contacts"><span class="icon icon-mail"></span></a></li>
					<li><a class="" href="{{ path('descargas') }}"><span class="icon icon-download2"></span></a></li>
					{# <li><a class="" data-index="3" href="{{ path('descargas') }}"><span class="icon icon-download2"></span></a></li> #}
				</ul>
				<ul id="fix-nav-full" style="position: absolute; top: 196px;">
					<li><a class="active" data-index="1" href="#">Inicio</a></li>
					<li><a class="" data-index="2" href="#/about">Sobre el DSI</a></li>
					<li><a class="" data-index="4" href="#/job">Reportes</a></li>
					<li><a class="" data-index="5" href="#/contacts">Contacto</a></li>
					<li><a class="" href="{{ path('descargas') }}">Descargas</a></li>
					{# <li><a class="" data-index="3" href="{{ path('descargas') }}">Descargas</a></li> #}
				</ul>
				<div class="copy">
					{# <a href="http://siteexpo.ru/" target="_blank"><img src="./XSoft_files/logoFix.svg" alt=""></a> #}				
				</div>
			</div>
			<a href="#">
				<span id="logo" class="icon icon-xsoft"></span></a>
			<div class="main onepage-wrapper" style="position: relative; top: 0%;">
				<section class="page1 section active" data-id="/" data-index="1" style="position: absolute; top: 0%; left: 0px;">
					<video id="player" autoplay="autoplay" muted="muted" loop="loop" preload="auto" __idm_id__="286721">
						<source src="{{ asset('bundles/segurex/videos/ksp.mp4') }}" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
						<source src="{{ asset('bundles/segurex/videos/ksp.webm') }}" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
						<source src="{{ asset('bundles/segurex/videos/ksp.ogv') }}" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
						Your browser does not support the video tag.
					</video>
					<div class="page_container">
						<div id="slider-wrap" style="position: absolute; top: 186.5px; left: 314px;">
							<div id="slider">
								{% for titulo in titulares %}
								 	<div class="slide" style="position: absolute; top: 0px; left: 0px; display: none;">
									<h3>{{titulo}}</h3></div>
					            {% endfor %}
								{# <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none;">
									<h3></h3></div>
								<div class="slide" style="position: absolute; top: 0px; left: 0px; display: none;">
									<h3></h3></div>
								<div class="slide" style="position: absolute; top: 0px; left: 0px; display: none;">
									<h3></h3></div>
								<div class="slide" style="position: absolute; top: 0px; left: 0px; display: none;">
									<h3></h3></div>
								<div class="slide" style="position: absolute; top: 0px; left: 0px; display: block;">
									<h3></h3></div>
								<div class="slide" style="position: absolute; top: 0px; left: 0px; display: none;">
									<h3></h3></div> #}
								<div class="sli-links">
									<span class="control-slide active">0</span>
									<span class="control-slide">1</span>
									<span class="control-slide">2</span>
									<span class="control-slide">3</span>
									<span class="control-slide">4</span>
									<span class="control-slide">5</span></div>
							</div>
						</div>
					</div>
					<div id="animated-example" class="animated bounce">
						<a id="move-down" class="move-down" href="#/#"><span class="icon icon-arrow"></span></a>
					</div>
					<!--<a class="move-link" href="https://vimeo.com/" target="_blank"><img src="/assets/img/link-vimeo.png" alt=""></a>-->
				</section>
				<section class="page3 section" data-id="about" data-index="2" style="position: absolute; top: 1%; left: 0px;">
					<div class="page_container">
						
						<ul id="about" style="position: absolute; top: 1px;">
							<li>
								<h2>Sobre el <b>DSI</b></h2>
								<p>El <b>DSI</b> o <b>Departamento de Seguridad Informática</b> es una estructura especializada que contribuye al fortalecimiento de la seguridad Informática.<br> Pertenece al Centro de Gestión de Sistemas Informáticos (CTSI) y dicta las politicas de seguridad informática del MINREX.</p>
							</li>
							<li>
								<h4>MISIÓN:</h4>
								<p>Contribuir al fortalecimiento de la seguridad en el ciberespacio y coordinar de manera efectiva la gestión de los eventos informáticos que impactan en la ciberseguridad del Ministerio.</p>
							</li>
							<li>
								
								<p>
								<h4>Funciones:</h4>
								1. Proponer políticas, estrategias y medidas de seguridad tecnológica.<br>
								2. Dar seguimiento a los incidentes que afectan la Seguridad Informática del Ministerio.<br>
								3.Llevar a cabo auditorias para velar por el cumplimiento de las politicas de seguridad informática establecidas.<br>
								4. Promover una cultura de ciberseguridad y de capacitación permanente en el MinRex.
								
								</p>
							</li>
						</ul>
					</div>
				</section>
				{# <section class="page2 section" data-id="development" data-index="3" style="position: absolute; top: 200%; left: 0px;">
					<div class="page_container">
						<aside style="position: absolute; top: 10px;">
							{% embed "SegurexBundle:Descargas:index.html.twig" %}							    
							{% endembed %}							
						</aside>
					</div>
				</section> #}
				<section class="page4 section" id="vc-slide" data-id="job" data-index="4" style="position: absolute; top: 300%; left: 0px;">
					<div class="page_container">

						<aside style="top: 175px;">
							<h2>Reportes</h2>
							<div class="container bs-docs-container">
								<div class="bs-callout bs-callout-warning" id="callout-modal-youtube">
							    <h4 id="Info">IMPORTANTE<a class="anchorjs-link" href="#"><span class="anchorjs-icon"></span></a></h4>
							    <p>
								 Los reportes del sitio no se encuentran actualemnte activos, los mismo se manejan atraves del MINRESYS, en el vinculo a Reportes. Disculpe las molestias que pueda causar.
								</p>
							 </div>
							</div>
							<p>
							Un Incidente Computacional se define como cualquier evento que se produzca, de forma accidental o intencional, que afecte o ponga en peligro las Tecnologías de la Información o los procesos que con ellas se realizan.
							</p>
							<p>Si usted sospechara o tuviera evidencia que se está produciendo algún tipo de incidente computacional en su red, deberá garantizar una correcta evaluación de lo que ha ocurrido, a quién, cómo y cuándo debe ser reportado, la respuesta adecuada, así como los aspectos relacionados con su documentación, la preservación de las evidencias y las acciones a seguir una vez restablecida la situación inicial. <br>
 							<b>Vía correo</b>: <a href="mailto:seginf@minrex.gob.cu">seginf@minrex.gob.cu</a></p>
 
							{# <p><a href="{{ path('reportes_new') }}" class="btn btn-default">Reportar Incidente</a></p> #}
							<br>
							 <h4 id="eventos">Ejemplos de Eventos<a class="anchorjs-link" href="#"><span class="anchorjs-icon"></span></a></h4>
							    <p>
								 • Intentos (sean fallidos o exitosos) de obtener acceso a un sistema o sus datos.<br>
								 • Interrupción no deseada o denegación de servicios.<br>
								 • Uso no autorizado de un sistema para el procesamiento o almacenamiento de información.<br>
								 • Cambios en las características del hardware, firmware o software del sistema sin el conocimiento, instrucción o consentimiento del responsable de dicho sistema.<br>
								</p>
							
						</aside>
						{# <li data-job="2"><h4>— Веб-дизайнер</h4></li> #}
						 
						<ul id="vc" style="position: absolute; top: 222.5px;">						
							<li data-job="1"></li>							
						</ul> 
						
						
						
						<div class="vc-container" id="vc-content" style="margin-bottom: 70px;">
							<span class="closeBtn icon icon-closer"></span>
							<div class="vc-container-outer ps-container" id="description">
								<div class="vc-container-inner" id="job-box">
									{# <img class="logo-vc" src="{{ asset('bundles/segurex/images/logo.png') }}" alt=""> #}
									<div class="clear"></div>
									<div id="job-content"></div>
									<h4>Formulario de reporte</h4>
									<span>*campos de llenado obligatorio</span>
									<div class="form_input" id="vc-form">										
										<form action="#/job/apply" method="post" id="job-form" accept-charset="utf-8" class="ajax-form">
											<input type="hidden" name="job_id">
											<p class="input-wrap"><label>Nombre completo*</label><input type="text" name="name"></p>
											{# Pendiente a convertir en un select #}
											<p class="input-wrap"><label>Área*</label><input type="text" name="lastname"></p>
											<p class="input-wrap"><label>Correo*</label><input type="text" name="email"></p>
											<p class="input-wrap"><label>Teléfono*</label><input type="text" name="phone"></p>
											CARGAR UNA IMAGEN
											<div class="load" id="btn-job-vc">
												<input type="file" name="file" accept="*" id="vc-file">
												<span class="attach" id="btn-frame">?????????? ??????<i></i></span>
												<span class="fill" id="btn-fill"></span>
											</div>
											<span class="attach-name" id="vc-file-name"></span>
											<div class="clear"></div>
											<p>Sobre el Equipo:</p>
											<p class="input-wrap"><label>No. Inventario</label><input type="text" name="site"></p>
											<p class="input-wrap"><label>Descripción del problema.</label><textarea name="text"></textarea></p>
											<p id="vc-success">Descripción del problema.<br>Incluya la mayor cantidad de detalles posibles.</p>
											<button id="submit">Enviar<span class="fill"></span></button>
										</form>
										Ejemplos de Eventos:<br>
										 • Intentos (sean fallidos o exitosos) de obtener acceso a un sistema o sus datos.<br>
										 • Interrupción no deseada o denegación de servicios.<br>
										 • Uso no autorizado de un sistema para el procesamiento o almacenamiento de información.<br>
										 • Cambios en las características del hardware, firmware o software del sistema sin el conocimiento, instrucción o consentimiento del responsable de dicho sistema.<br>
 									</div>

								</div>
							<div class="ps-scrollbar-x-rail" style="width: 652px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 677px; display: none; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
						</div>
					</div>
				</section>
				<section class="page5 section" data-id="contacts" data-index="5" style="position: absolute; top: 400%; left: 0px;">
					<div class="modal-contact">
						<div class="modalWin" style="position: absolute; top: 211px; left: 314px;">
							<h2>Contacto</h2>
							<ul>
								<li>
									<label>Cuba</label>
									<div class="address">
										<p class="tel">+7 836 4239</p>
										<p><a href="mailto:seginf@minrex.gob.cu?Subject=Reporte">seginf@minrex.gob.cu</a></p>
										<p>La Habana, Vedado, Ave. de los Presidentes (G) entre 5ta y Calzada y H</p>
										Mapa										
									</div>
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.7276280994042!2d-82.39391499999999!3d23.143629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88cd777c7508870d%3A0x96016e4dbce1239f!2sMinisterio+de+Relaciones+Exteriores!5e0!3m2!1ses!2sru!4v1432241582797" width="600" height="450" frameborder="0" style="border:0"></iframe>
								</li>
								<div class="clear"></div>
								<!--
								<li>
									<label>Лондон</label>
									<div class="address last">
										<p class="tel">+44 203 519 6445</p>
										<p><a href="mailto:info@xsoft.org?Subject=Hello">info@xsoft.org</a></p>
										<p>UK, London, <a target="_blank" href="https://www.google.com/maps/place/5+Percy+St,+Fitzrovia,+London+W1T,+Великобритания/@51.5179843,-0.1341074,16z/data=!4m7!1m4!3m3!1s0x48761b2c43a0a16b:0xe4e028efa44e09e8!2zMSwgNSBQZXJjeSBTdCwgRml0enJvdmlhLCBMb25kb24gVzFULCDQktC10LvQuNC60L7QsdGA0LjRgtCw0L3QuNGP!3b1!3m1!1s0x48761b2c43a0a16b:0x4d3fff038eb94b6d">Suite 1, 5 Percy Street</a>.</p>
									</div>
								</li>
								-->
							</ul>
							<div class="clear"></div>
						</div>

					</div>
				</section>
			</div>
		</div>

		
		

		
{% endblock %}
{% block javascripts %}
	<!-- javascript
		================================================== -->
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/segurex/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/segurex/js/npm.js') }}"></script>
	{# <!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter24277645 = new Ya.Metrika({id:24277645,
							webvisor:true,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/24277645" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
	<!-- /Yandex.Metrika counter --> #}
{% endblock %}

